**Feature Split**

Splitting features is a good way to make them useful in terms of machine learning. Most of the time the dataset contains string columns that violates tidy data principles. 


**Advantages:**
*   We enable machine learning algorithms to comprehend them.
*   Make possible to bin and group them.
*   Improve model performance by uncovering potential information.

Split function is a good option, however, there is no one way of splitting features. It depends on the characteristics of the column, how to split it.

**Exapmple**

```
       Name column                          Extracting first names
                                 
0  Luther N. Gonzalez                             Luther
1    Charles M. Young                             Charles
2        Terry Lawson       ------>               Terry
3       Kristen White                             Kristen
4      Thomas Logsdon                             Thomas

```

**Basics**

In [13]:
text = 'The quick brown fox jumps over the lazy dog'
  
# Split the text wherever there's a space.
words = text.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [14]:
paragraph = 'The quick brown fox jumps over the lazy dog. The quick brown dog jumps over the lazy fox' 

# Split the text wherever there's a full stop.
a,b = paragraph.split('.')

# Display the results.
print(a)
print(b)

The quick brown fox jumps over the lazy dog
 The quick brown dog jumps over the lazy fox

In [15]:
cars= 'Audi and Kia and BMV and Volvo and Opel'

# maxsplit of 1
print(cars.split(' and ',1))
# maxsplit of 2
print(cars.split(' and ',2))

['Audi', 'Kia and BMV and Volvo and Opel']
['Audi', 'Kia', 'BMV and Volvo and Opel']

**Spliting on Dataframe**

In [0]:
import pandas as pd
import numpy as np

In [0]:
df=pd.read_csv('/content/all_seasons.csv')

In [3]:
df.head()

   Unnamed: 0        player_name team_abbreviation  ...  ts_pct  ast_pct   season
0           0      Dennis Rodman               CHI  ...   0.479    0.113  1996-97
1           1  Dwayne Schintzius               LAC  ...   0.430    0.048  1996-97
2           2       Earl Cureton               TOR  ...   0.376    0.148  1996-97
3           3        Ed O'Bannon               DAL  ...   0.399    0.077  1996-97
4           4        Ed Pinckney               MIA  ...   0.611    0.040  1996-97

[5 rows x 22 columns]

In [0]:
#Extracting first name from 'player_name' column

df['first_name']=df.player_name.str.split(" ").map(lambda x: x[0])

In [8]:
df.first_name.head()

0    Dennis
1    Dwayne
2      Earl
3        Ed
4        Ed
Name: first_name, dtype: object

In [0]:
#Extracting last name from 'player_name' column
df['last_name']=df.player_name.str.split(" ").map(lambda x: x[-1])

In [12]:
df.last_name.head()

0        Rodman
1    Schintzius
2       Cureton
3      O'Bannon
4      Pinckney
Name: last_name, dtype: object